<h1>
    Registro delle squadre
</h1>
<p>
    Questa pagina contiene l'elenco dei tesserati e dovrà:
    <ul>
        <li>Permettere la cancellazione e creazione di un elemento</li>
        <li>Validare la creazione solo con obbligatorierà del campo nome</li>
        <li>Ad ogni modifica la tabella dovrà aggiornarsi</li>
        <li>Presentare almeno un comportamento responsivo grazie ad a classi e css</li>
    </ul>
</p>
<table class="table-bordered table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Allenatore</th>
            <th>Denominazione</th>
            <th>Data fondazione</th>
            <th><em>Azioni</em></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.allenatore}}</td>
            <td>{{item.denominazione}}</td>
            <td>{{item.datafondazione | date}}</td>
            <td>
                <a class="btn btn-sm btn-info" ng-click="view(item.id)"><i class="fa fa-eye"></i> Apri</a>
                <a class="btn btn-sm btn-danger"  ng-click="del(item.id)"><i class="fa fa-trash"></i> Cancella</a>
            </td>
        </tr>
    </tbody>
</table>
<form>
    <span>Allenatote</span>
    <input type="text" ng-model="item.allenatore"/>
    <span>Denominazione</span>
    <input type="text" ng-model="item.denominazione"/>
    <span>Data Fondazione:</span>
    <input type="date" ng-model="item.datafondazione"/>
    <button ng-click="save(item)"> INVIO</button>
</form>